@using QuanLyNhanSu.Models
@model Luong

@{
    ViewBag.Title = "Sửa lương nhân viên";
}



<div class="">
    <div class="">
        <h1 class="page-header">
            Cập nhật bảng lương nhân viên
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("index","Admin")">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-money"></i><a href="@Url.Action("index","QuanLyLuong")">Lương</a>
            </li>
            <li>
                <i class="fa fa-money"></i> Cập nhật lương nhân viên
            </li>
        </ol>
    </div>
</div>
<div class="">
    <div class=" col-md-6 col-md-offset-3">
        @Html.AntiForgeryToken()

        <form class="form-horizontal" @Url.Action("SuaBangLuong", "QuanLyLuong") method="post" role="form">

            @Html.ValidationSummary(true)
            @*@Html.HiddenFor(model => model.MaNhanVien)*@

            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Mã nhân viên</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="MaNhanVien"
                           type="text"
                           value="@Model.MaNhanVien"
                           readonly />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.MaNhanVien)
                    </label>

                </div>
                <!--end-->
            </div>
            <!--luong hien tai-->
            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Lương hiện tại</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="LuongToiThieu"
                           type="number"
                           value="@Model.LuongToiThieu"
                           readonly />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.LuongToiThieu)
                    </label>

                </div>
                <!--end-->
            </div>

            <!--sau khi cap nhat-->
            @{
                QuanLyNhanSuEntities db = new QuanLyNhanSuEntities();
                CapNhatLuong c = new CapNhatLuong();
            }
            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Cập nhật lương</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="LuongSauCapNhat"
                           type="number"
                           pattern="[1-9](?:\d*)?\d+"
                           title="nhập tiền lương"
                           value="@Model.LuongToiThieu"
                           required />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @*@Html.ValidationMessageFor(c => c.LuongSauCapNhat)*@
                    </label>

                </div>
                <!--end-->
            </div>

            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Hệ số lương</label>
                </div>
                <div class="col-sm-8">
                    @{
                        if (Model.NhanVien.TrinhDoHocVan.MaTrinhDoHocVan.Equals("gs"))
                        {

                            <select name="HeSoLuong" class="form-control">
                                @foreach (var item in db.LuongA31GS)
                                {
                                    if (item.HeSo == Model.HeSoLuong)
                                    {
                                        <option value="@item.HeSo" selected>@item.HeSo</option>
                                    }
                                    <option value="@item.HeSo">@item.HeSo</option>
                                }
                                @*<option value="6.2">6.2</option>
                                    <option value="6.56">6.56</option>
                                    <option value="6.92">6.92</option>
                                    <option value="7.28">7.28</option>
                                    <option value="7.64">7.64</option>
                                    <option value="8">8</option>*@
                            </select>
                        }
                        else if (Model.NhanVien.TrinhDoHocVan.MaTrinhDoHocVan.Equals("pgs"))
                        {
                            <select name="HeSoLuong" class="form-control">
                                @foreach (var item in db.LuongA21PGS)
                                {
                                    if (item.HeSo == Model.HeSoLuong)
                                    {
                                        <option value="@item.HeSo" selected>@item.HeSo</option>
                                    }
                                    <option value="@item.HeSo">@item.HeSo</option>
                                }
                                @*<option value="2.34">4.4</option>
                                    <option value="2.67">4.74</option>
                                    <option value="3">5.08</option>
                                    <option value="3.33">5.42</option>
                                    <option value="3.66">5.76</option>
                                    <option value="3.99">6.1</option>
                                    <option value="4.32">6.44</option>
                                    <option value="4.65">6.78</option>*@
                            </select>
                        }
                        else
                        {
                            <select name="HeSoLuong" class="form-control">
                                @foreach (var item in db.LuongA1GV)
                                {
                                    if (item.HeSo == Model.HeSoLuong)
                                    {
                                        <option value="@item.HeSo" selected>@item.HeSo</option>
                                    }
                                    <option value="@item.HeSo">@item.HeSo</option>
                                }
                                @*<option value="2.34">2.34</option>
                                    <option value="2.67">2.67</option>
                                    <option value="3">3.0</option>
                                    <option value="3.33">3.33</option>
                                    <option value="3.66">3.66</option>
                                    <option value="3.99">3.99</option>
                                    <option value="4.32">4.32</option>
                                    <option value="4.65">4.65</option>
                                    <option value="4.98">4.98</option>*@
                            </select>
                        }
                    }

                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.HeSoLuong)
                    </label>

                </div>
                <!--end-->
            </div>
            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Bảo hiểm xã hội</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="BHXH"
                           type="text"
                           value="@Model.BHXH" />

                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.BHXH)
                    </label>

                </div>
                <!--end-->

            </div>
            <!--BHYT-->
            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Bảo hiểm y tế</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="BHYT"
                           type="text"
                           value="@Model.BHYT" />

                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.BHYT)
                    </label>

                </div>
                <!--end-->

            </div>
            <!--BHTN-->
            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Bảo hiểm tự nguyện</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="BHTN"
                           type="text"
                           value="@Model.BHTN" />

                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.BHTN)
                    </label>

                </div>
                <!--end-->

            </div>
            <!--phu cap-->
            <div class="form-group hidden">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Phụ cấp</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="PhuCap"
                           type="number"
                           value="@Model.PhuCap" />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.PhuCap)
                    </label>

                </div>
                <!--end-->

            </div>

            <div class="form-group">
                <!--start-->
                <div class="col-sm-4 control-label">
                    <label>Thuế thu nhập cá nhân</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control"
                           name="ThueThuNhap"
                           type="number"
                           value="@Model.ThueThuNhap" />
                </div>
                <div class="col-sm-offset-4 col-sm-5" style="height:15px">
                    <label class="control-label text-danger">
                        @Html.ValidationMessageFor(model => model.ThueThuNhap)
                    </label>

                </div>
                <!--end-->

            </div>

            <div class="form-group">
                <div class=" col-sm-offset-4 col-sm-5">
                    <input type="submit" value="Lưu lại" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
@*<div>
        @Html.ActionLink("Quay lại", "Index")
    </div>*@

