
@using QuanLyNhanSu.Models
@model List<NhanVien>

@{
    ViewBag.Title = "Nhân viên";
}
@{
    QuanLyNhanSuEntities db = new QuanLyNhanSuEntities();
    var td = db.TrinhDoHocVans.ToList();
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Nhân viên
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="@Url.Action("index","Admin")">Tổng quan</a>
            </li>
            <li>
                <i class="fa fa-bar-chart-o"></i> @*<a href="@Url.Action("index","QuanLyUser")">Nhân viên</a>*@
                Nhân viên
            </li>
        </ol>
    </div>
</div>

<div>
    <div style="padding:10px">
        <a class="btn btn-primary" href="@Url.Action("ThemUser", "QuanLyUser")">
            Thêm nhân viên
        </a>

        <a class="btn btn-primary " href="@Url.Action("XuatFileExel", "QuanLyUser")">
            Xuất danh sách nhân viên
        </a>
    </div>
</div>




<div class="table-responsive">
    <table id="table-taikhoan" class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    Mã nhân viên
                </th>
                <th>
                    Ngày chuyển
                </th>
                <th>
                    Lý do
                </th>
                <th>
                    Phòng ban cũ
                </th>
                <th>
                    Phòng ban chuyển đến
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    string tenTrinhDo = string.Empty;
                    string gioitinh = string.Empty;
                    switch (item.GioiTinh)
                    {
                        case 0:
                            gioitinh = "Nữ";
                            break;
                        case 1:
                            gioitinh = "Nam";
                            break;
                        default:
                            gioitinh = "Khác";
                            break;
                    }
                    
                    
                      foreach (var t in td)
                            {
                                if (t.MaTrinhDoHocVan.Equals(item.MaTrinhDoHocVan))
                                {
                                    tenTrinhDo = t.TenTrinhDo;
                                    break;
                                }
                            }
                    
                    <tr>
                        <td>@item.MaNhanVien</td>
                        <td>@item.HoTen</td>
                        <td>@tenTrinhDo</td>
                        <td>@gioitinh</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("QuaTrinhCongTac", "QuanLyUser", new { @id = @item.MaNhanVien })"><i class="fa fa-address-book">Quá trình công tác</i></a>
                            <a class="btn btn-warning" href="@Url.Action("UpdateUser", "QuanLyUser", new {@id = @item.MaNhanVien })"><i class="fa fa-pencil-square-o x5" aria-hidden="true">Sửa</i></a>
                            <a class="btn btn-danger" href="@Url.Action("XoaUser", "QuanLyUser", new { @id = @item.MaNhanVien })"><i class="fa fa-trash-o">Xóa</i></a>

                        </td>
                    </tr>

                }

            }

        </tbody>
    </table>
</div>




@*<div class="table-responsive">
    <table id="table-taikhoan" class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="success">
                <th>Tài khoản</th>
                <th>Họ và tên</th>
                <td>Trình độ văn hóa</td>
                <th>Giới tính</th>
                <th>Số nhân viên: @Model.Count</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    string tenTrinhDo = string.Empty;
                    string gioitinh = string.Empty;
                    switch (item.GioiTinh)
                    {
                        case 0:
                            gioitinh = "Nữ";
                            break;
                        case 1:
                            gioitinh = "Nam";
                            break;
                        default:
                            gioitinh = "Khác";
                            break;
                    }
                    <tr>
                        <td>@item.MaNhanVien</td>
                        <td>@item.HoTen</td>
                        <td>
                            @foreach (var t in td)
                            {
                                if (t.MaTrinhDoHocVan.Equals(item.MaTrinhDoHocVan))
                                {
                                    tenTrinhDo = t.TenTrinhDo;
                                    break;
                                }
                            }
                            @tenTrinhDo
                        </td>
                        <td>@gioitinh</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("QuaTrinhCongTac", "QuanLyUser", new { @id = @item.MaNhanVien })"><i class="fa fa-address-book">Quá trình công tác</i></a>
                            <a class="btn btn-warning" href="@Url.Action("UpdateUser", "QuanLyUser", new {@id = @item.MaNhanVien })"><i class="fa fa-pencil-square-o x5" aria-hidden="true">Sửa</i></a>
                            <a class="btn btn-danger" href="@Url.Action("XoaUser", "QuanLyUser", new { @id = @item.MaNhanVien })"><i class="fa fa-trash-o">Xóa</i></a>

                        </td>
                    </tr>

                }

            }

        </tbody>
    </table>

</div>*@
